@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --color-primary: #9747FF;
  --color-background: #101926;
  --color-whiteP: #FBFCF8;
  --color-textW: #FBFCF8;
  --color-whiteS: #D1D1D2;
}
html,
body  {
  @apply bg-background 
}

.nav-item{ 
  @apply text-whiteP py-4 px-2 rounded-full text-sm font-semibold hover:text-primary  hover:font-bold transition duration-500;
}
 