@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #9747ff;
  --color-primary600: #8941e8;
  --color-background: #101926;
  --color-whiteP: #fbfcf8;
  --color-textW: #fbfcf8;
  --color-whiteS: #d1d1d2;
}
html,
body {
  @apply bg-background;
}

.nav-item {
  @apply text-whiteP py-2 px-2
   rounded-full md:text-base sm:text-2xl font-semibold hover:text-primary  transition duration-500;
}
